### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
count = {"Total Players": [len(purchase_data["SN"].unique().tolist())]}

In [3]:
tot_players = pd.DataFrame(data=count)

## Player Count

* Display the total number of players

In [4]:
tot_players

   Total Players
0            576

In [5]:
summary = {"Number of Unique Items": [len(purchase_data["Item Name"].unique().tolist())],
          "Average Price": [round(purchase_data["Price"].mean(), 2)],
          "Number of Purchases": [len(purchase_data)],
          "Total Revenue": [round(sum(purchase_data["Price"]), 2)]}
format_summary = {"Average Price":'${:,.2f}', "Total Revenue": '${:,.2f}'}

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
purch_summary = pd.DataFrame(data=summary)
purch_summary.style.format(format_summary)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
gender_df = purchase_data[["SN", "Gender"]]

In [8]:
gender_df2 = gender_df.drop_duplicates()

In [9]:
gender_group = gender_df2.groupby(["Gender"]).count()

In [10]:
gender_summary = pd.DataFrame({"Total Count": gender_group["SN"]}, index=["Male", "Female", "Other / Non-Disclosed"])

In [11]:
gender_summary["Percentage of Players"] = gender_summary["Total Count"] / gender_group["SN"].sum()
format_gen_summary = {"Percentage of Players": '{:,.2%}'}

In [12]:
gender_summary.style.format(format_gen_summary)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
gender_df3 = purchase_data[["Gender", "Price"]]

In [14]:
gender_group2 = gender_df3.groupby(["Gender"])
gender_purchase_count = gender_group2.count()

In [15]:
summary2 = gender_purchase_count.rename(columns={"Price":"Purchase Count"})

In [16]:
gender_avg_price = gender_group2["Price"].mean()

In [17]:
summary2["Average Purchase Price"] = gender_avg_price

In [18]:
gender_tot_price = gender_group2["Price"].sum()

In [19]:
summary2["Total Purchase Value"] = gender_tot_price

In [20]:
summary2["Avg Total Purchase per Person"] = gender_tot_price / gender_group["SN"]
format_summary2 = {"Average Purchase Price":'${:,.2f}', "Total Purchase Value": '${:,.2f}', "Avg Total Purchase per Person": '${:,.2f}'}

In [21]:
summary2.style.format(format_summary2)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [22]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [23]:
player_ages = purchase_data[["SN", "Age"]]
age_drop = player_ages.drop_duplicates(keep="first")
age_drop2 = pd.DataFrame(age_drop)

In [24]:
age_drop2["Age Group"] = pd.cut(age_drop2["Age"], bins, labels=group_names, include_lowest=True)

In [25]:
age_group = age_drop2.groupby("Age Group").count()

In [26]:
age_summary = pd.DataFrame({"Total Count": age_group["SN"]},
                            index=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])

In [27]:
age_summary["Percentage of Players"] = age_summary["Total Count"] / age_group["SN"].sum()
format_gen_summary = {"Percentage of Players": '{:,.2%}'}

In [28]:
age_summary.style.format(format_gen_summary)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
purchase_ages = pd.DataFrame(purchase_data[["Price", "Age"]])
purchase_ages["Age Ranges"] = pd.cut(purchase_ages["Age"], bins, labels=group_names, include_lowest=True)
purchase_ages2 = pd.DataFrame(purchase_ages[["Price", "Age Ranges"]])

In [30]:
purch_age_group = purchase_ages2.groupby("Age Ranges")
summary3 = purchase_ages2.groupby("Age Ranges").count()

In [31]:
summary3 = summary3.rename(columns={"Price":"Purchase Count"})

In [32]:
age_avg_price = purch_age_group["Price"].mean()

In [33]:
summary3["Average Purchase Price"] = age_avg_price

In [34]:
age_tot_price = purch_age_group["Price"].sum()

In [35]:
summary3["Total Purchase Value"] = age_tot_price

In [36]:
summary3["Avg Total Purchase per Person"] = age_tot_price / age_group["SN"]
format_summary2 = {"Average Purchase Price":'${:,.2f}', "Total Purchase Value": '${:,.2f}', "Avg Total Purchase per Person": '${:,.2f}'}

In [37]:
summary3.style.format(format_summary2)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
purch_count = pd.DataFrame(purchase_data[["SN", "Price"]])
purch_count2 = purch_count.groupby("SN")
purch_count3 = purch_count2.count()

In [39]:
summary4 = purch_count3.rename(columns={"Price":"Purchase Count"})

In [40]:
count_avg_price = purch_count2["Price"].mean()

In [41]:
summary4["Average Purchase Price"] = count_avg_price

In [42]:
count_tot_price = purch_count2["Price"].sum()

In [43]:
summary4["Total Purchase Value"] = count_tot_price

In [44]:
summary4 = summary4.sort_values("Total Purchase Value", ascending=False)

In [45]:
format_summary2 = {"Average Purchase Price":'${:,.2f}', "Total Purchase Value": '${:,.2f}'}

In [46]:
summary4.head().style.format(format_summary2)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
item_count = pd.DataFrame(purchase_data[["Item ID", "Item Name", "Price"]])

In [48]:
item_count_grp = item_count.groupby(["Item ID", "Item Name"])
item_count_grp2 = item_count_grp.count()
item_count_grp3 = item_count_grp["Price"].sum()

In [49]:
summary5 = item_count_grp2.rename(columns={"Price":"Purchase Count"})
summary5 = summary5.sort_values("Purchase Count", ascending=False)

In [50]:
summary5["Item Price"] = item_count_grp3 / summary5["Purchase Count"]

In [51]:
summary5["Total Purchase Value"] = item_count_grp3

In [52]:
format_summary2 = {"Item Price":'${:,.2f}', "Total Purchase Value": '${:,.2f}'}

In [53]:
summary5.head().style.format(format_summary2)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [54]:
summary5 = summary5.sort_values("Total Purchase Value", ascending=False)
format_summary2 = {"Item Price":'${:,.2f}', "Total Purchase Value": '${:,.2f}'}

In [55]:
summary5.head().style.format(format_summary2)